[submodule "http-examples"]
	path = http-examples
	url = https://github.com/lcarnevale/http-examples
[submodule "smtp-example"]
	path = smtp-example
	url = https://github.com/lcarnevale/smtp-example.git
[submodule "tcp-example"]
	path = tcp-example
	url = https://github.com/lcarnevale/tcp-example
[submodule "udp-example"]
	path = udp-example
	url = https://github.com/lcarnevale/udp-example
